.ul-list-flex {
    display: flex;
    flex-direction: column;    
    align-items: flex-start;
}
.rule-container {
    display : flex;
    flex-direction : column;
    align-items : center;
}
.rules-card {
    border-radius : 5px;
    box-shadow: 0px 2px 5px 1px var(--card-shadow);
}
